<main class="capsule">
  <app-mast-head></app-mast-head>
  <div class="contain">
    <app-sidebar
      (rangeChange)="rangeChanged($event)"
      [inputmax]="150"
      [priceRange]="150"
    >
      <app-switch
        (ontoggled)="ontoggled($event)"
        [isChecked]="filter.showOnlySale"
      ></app-switch>
    </app-sidebar>
    <div class="content" tag="section">
      <app-sale-item
        *ngFor="let item of (productsObservable | async)"
        (cartAdd)="onaddtoCart($event)"
        [item]="item"
      ></app-sale-item>
    </div>
  </div>
</main>
